name: Size
on:
  pull_request:
    branches:
      - main
env:
  CI: true

jobs:
  size:
    runs-on: ubuntu-latest
    env:
      CI_JOB_NUMBER: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v3.0.0
      - name: Setup Node.js
        uses: actions/setup-node@v3.0.0
      - uses: pnpm/action-setup@v2.2.1
        with:
          version: 6.x.x
        
      - uses: antfu/export-size-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
