name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
env:
  CI: true

jobs:
  test:
    name: "Test on Node.js ${{ matrix.node }} OS: ${{ matrix.os }} Vue: ${{matrix.vue}}"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node: [16, 17]
        vue: [2, 3]
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
      - name: Setup Node.js ${{ matrix.node }}
        uses: actions/setup-node@v3.0.0
        with:
          node-version: ${{ matrix.node }}
      - uses: pnpm/action-setup@v2.1.0
        with:
          version: 6.x.x
          run_install: true

      - name: Test
        run: pnpm test:${{ matrix.vue }} -- --coverage

      - name: Upload code coverage
        uses: codecov/codecov-action@v2
        with:
          flags: vue-${{matrix.vue}}

  lint:
    runs-on: ubuntu-latest
    name: "Lint source code"
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
      - name: Setup Node.js
        uses: actions/setup-node@v3.0.0
      - uses: pnpm/action-setup@v2.1.0
        with:
          version: 6.x.x
          run_install: true

      - name: Lint
        run: pnpm lint

  test-examples:
    runs-on: ubuntu-latest
    name: "Test build of example projects"
    steps:
      - name: Checkout fluent-vue
        uses: actions/checkout@v2.4.0
      - name: Checkout examples
        uses: actions/checkout@v2.4.0
        with:
          repository: 'fluent-vue/examples'
          path: 'examples'
      - name: Setup Node.js
        uses: actions/setup-node@v3.0.0
      - uses: pnpm/action-setup@v2.1.0
        with:
          version: 6.x.x
          run_install: true

      - name: Test
        run: node scripts/build-examples.mjs
