name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
env:
  CI: true

jobs:
  test:
    name: 'Test on Node.js ${{ matrix.node }} OS: ${{ matrix.os }} Vue: ${{matrix.vue}}'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node: [22, 24]
        vue: [2, 3]
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Setup
        uses: ./.github/actions/setup
        with:
          node-version: ${{ matrix.node }}

      - name: Test
        run: pnpm test:${{ matrix.vue }} --coverage

      - name: Upload code coverage
        uses: codecov/codecov-action@v5
        with:
          flags: vue-${{matrix.vue}}
          token: ${{ secrets.CODECOV_TOKEN }}

  lint:
    runs-on: ubuntu-latest
    name: Lint source code
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Setup
        uses: ./.github/actions/setup

      - name: Lint
        run: pnpm lint
      - name: Type check
        run: pnpm typecheck

  publish:
    runs-on: ubuntu-latest
    name: Publish test build to pkg.pr.new
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Setup
        uses: ./.github/actions/setup

      - name: Build
        run: pnpm build
      - name: Publish
        run: pnpx pkg-pr-new publish

  test-examples:
    runs-on: ubuntu-latest
    name: Test build of example projects
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Setup
        uses: ./.github/actions/setup

      - name: Checkout examples
        uses: actions/checkout@v6.0.0
        with:
          repository: fluent-vue/examples
          path: examples

      - name: Test
        run: node scripts/build-examples.mjs
